apiVersion: v1
kind: Service
metadata:
  name: web-service
  namespace: pyland
  labels:
    app: web
spec:
  type: ClusterIP
  selector:
    app: web
  ports:
  - port: 8000
    targetPort: 8000
    protocol: TCP
    name: http
